body{
    background-color: rgb(253, 251, 251);
}
#minha_foto {
    width: 100px;
    padding-top: 5%;
}
#cabecalho {
    position: fixed;
    top:0;
    left:0;
}
header{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px; 
}